body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#title {
  height: 100px;
  width: 300px;
}

#muestra {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-right: 60%;
  margin-top: -200px;

}

#muestra img {
  width: 150px;
  height: 150px;
  border: 1px solid #0091ff;
}

#board {
  width: 405px;
  height: 405px;
  border: 2px solid purple;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 79px;
  height: 79px;
  border: 0.5px solid lightblue;
}

#pieces {
  width: 1053px;
  height: 163px;
  border: 2px solid purple;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#pieces img {
  width: 79px;
  height: 79px;
  border: 0.5px solid lightblue;
}
