@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  box-sizing: border-box;
  font-family: "Alata";
}

body {
  margin: 0;
  height: 100vh;
  background: url(img/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 10px 0 10px;
  /* display: flex;
    align-items: center; */
}

.container {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 30px 0 60px 0;
  /* From https://css.glass */
  background: rgba(40, 166, 78, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.9);
}

.container .left {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 3px solid rgba(255, 255, 255, 0.9);
}

.container .left .logo {
  width: 180px;
  height: 180px;
  background-color: rgb(108, 221, 230);
  border-radius: 33% 66% 33% 66% / 33% 33% 66% 66%;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 46px;
  position: relative;
  animation: aparecer 1.5s forwards;
}

.container .left h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  animation: aparecer 1.5s forwards;
}

.container .left .info p i {
  font-size: 25px;
  margin-right: 15px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    top: -30px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.container .right {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.container .right h3 {
  color: #fff;
}

.container .right .categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .right .categorias .categoria {
  width: 200px;
  background-color: transparent;
  margin: 10px;
  border: 2px solid #fff;
  transition: 0.5s;
  font-size: 18px;
  padding: 5px 0;
}

.container .right .categoria a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: #fff;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container .right .categoria:hover {
  background: linear-gradient(to right, #8deb58, #cef35a);
}

.container .right .categoria:hover a,
.container .right .categoria:hover a i {
  color: #000;
}

.container .right .categoria a i {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

footer {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

footer a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  transition: 0.5s;
}

footer a i {
  margin-left: 15px;
}

footer a:hover {
  color: #e61610;
}

.container-juego {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 30px 20px 60px 10px;
  color: #fff;
  /* From https://css.glass */
  background: rgba(40, 141, 166, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.9);
}

.container-juego header {
  max-width: 600px;
  margin: auto;
  border-bottom: 2px solid #fefce0;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}

.container-juego header .categoria {
  background: linear-gradient(to right, #8deb58, #cef35a);
  color: #000;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 10px;
}

.container-juego header a {
  position: absolute;
  right: 0px;
  text-decoration: none;
  color: #fff;
}

.container-juego .info {
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.container-juego .info .estadoPregunta {
  display: inline-block;
  width: 150px;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
  display: block;
}

.container-juego .info h3 {
  margin-top: 0px;
  padding: 15px 10px;
  border-radius: 5px;
  font-style: italic;
  background: rgba(164, 146, 146, 0.3);
}

.container-juego .info label {
  display: block;
  border: 2px solid #f1f2f8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: left;
  cursor: pointer;
}

.container-juego .opciones .op1 {
  animation: aparecerOp 1s forwards;
  animation-delay: 1s;
}

.container-juego .opciones .op2 {
  animation: aparecerOp 1s forwards;
  animation-delay: 1.5s;
}

.container-juego .opciones .op3 {
  animation: aparecerOp 1s forwards;
  animation-delay: 2s;
}

@keyframes aparecerOp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.op1,
.op2,
.op3 {
  opacity: 0;
}

.container-juego .info label input {
  background-color: #3d8af7;
  color: #fff;
  width: 20px;
}

.opcionSeleccionada {
  background: linear-gradient(to right, #8deb58, #cef35a);
  color: #000;
}

.container-juego .info .boton {
  text-align: center;
}

.container-juego .info .boton input {
  display: inline-block;
  background: linear-gradient(to right, #8deb58, #cef35a);
  color: #000;
  border: none;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
}

/* PANTALLA FINAL */

.container-final {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 30px 0 60px 0;
  color: #fff;
  /* From https://css.glass */
  background: rgba(76, 40, 166, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.9);
  text-align: center;
}

.container-final .info {
  padding: 0 20px;
  max-width: 400px;
  margin: auto;
}

.container-final .info .estadistica {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-final .info .estadistica .acierto {
  display: flex;
  align-items: center;
}

.container-final .info .estadistica .acierto .numero {
  display: inline-block;
  font-size: 60px;
  margin-right: 10px;
  font-weight: bold;
}

.container-final .info .estadistica .acierto .correctas {
  color: #8deb58;
}

.container-final .info .estadistica .acierto .incorrectas {
  color: #e61610;
}

.container-final .info a {
  display: inline-block;
  background: linear-gradient(to right, #8deb58, #cef35a);
  color: #000;
  border: none;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

/* ESTILO DEL CIRCULO DEL SOCRE */

.score {
  padding: 30px;
  margin: auto 0;
}

.score .box {
  width: 100%;
}

.score .box h2 {
  display: block;
  text-align: center;
  color: #fff;
}

.score .box .chart {
  position: relative;
  width: 160px;
  margin: auto;
  height: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  height: 160px;
  color: #fff;
}

.score .box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
}

.btn {
  display: flex;
  height: 50px;
  width: 100%;
}

.btn > .boton {
  margin-left: 200px;
  
}

.panel {
  background-color: #af4c4c;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.panel > a {
  text-decoration: none;
  color: white;
}

.panel:hover {
  background-color: #924747;
}
.panel {
  border: none;
  border-radius: 8px 8px 8px 8px;
}

.boton {
  background-color: #af4c4c;
  font-size: 16px;
  padding: 14px;
  position: absolute;
}

.boton > a {
  text-decoration: none;
  color: white;
}

.boton:hover {
  background-color: #924747;
}
.boton {
  border: none;
  border-radius: 8px 8px 8px 8px;
}

@media screen and (max-width: 700px) {
  body {
    padding: 0px;
  }
  .container {
    display: block;
  }
  .container .left {
    border: none;
    width: 100%;
    margin: auto;
  }
  .container .left .logo {
    flex: auto;
    width: 100px;
    height: 100px;
    font-size: 25px;
    line-height: 30px;
  }
  .container .left h2 {
    font-size: 18px;
  }
  .container .right {
    width: 100%;
  }
  .container-juego header {
    display: flex;
    justify-content: space-between;
  }
  .container-juego header a {
    position: static;
  }
  .container-final header {
    display: flex;
    justify-content: space-between;
  }
  .container-final header a {
    position: static;
  }
}
