body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0c67ae;
}

#title {
  height: 150px;
  width: 400px;
}

#board {
  width: 360px;
  height: 360px;
  background-color: lightblue;
  border: 10px solid #333f47;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 118px;
  height: 118px;
  border: 1px solid #0091ff;
}

.muestra {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50%;
  margin-top: -350px;
  align-items: center;
}

.muestra img {
  width: 200px;
  height: 200px;
  border: 1px solid #0091ff;
}

h1 {
  color: #0c67ae;
  margin-top: 260px;
}

#text {
  padding-left: 40px;
  color: #0c67ae;
  margin-top: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  
}
