body {
  background-image: url("bg-1.jpg");
  background-size: cover;
  margin: 0%;
  padding: 0%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  filter: blur(200px);
  backdrop-filter: blur(200px);
  transition: filter 0.5s linear, backdrop-filter 0.5s linear;
}

#container {
  height: 500px;
  width: 500px;
  position: relative;
}

.cell {
  height: 50px;
  width: 50px;
  clip-path: inset(2px 2px 2px 2px);
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
}

.block {
  height: 46px;
  width: 46px;
  background: linear-gradient(to right, #000000, #434343);
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  line-height: 46px;
  font-weight: bold;
  font-size: 25px;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#info {
  height: 190px;
  width: 496px;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 63.3px 63.3px 63.3px;
  grid-template-columns: 165.3px 165.3px 165.3px;
}

#input-info {
  grid-row: 1 / span 3;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#input-string {
  background: rgba(0, 0, 0, 0.4);
  width: 310px;
  height: 45px;
  text-align: center;
  line-height: 39px;
  font-size: 24px;
  letter-spacing: 5px;
  box-sizing: border-box;
  border: 3px solid #fff;
}

#alphabetic-keys, #other-keys{
    width: 310px;
    height: 45px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer, .alphabetic-key, #backspace-key, #space-key{
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock{
    height: 95px;
    width: 95px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 95px;
    font-size: 30px;
}

.alphabetic-key{
    width: 45px;
    height: 45px;
    position: relative;
}

#backspace-key{
    width: 98px;
    height: 45px;
    position: relative;
}

#space-key{
    width: 204px;
    height: 45px;
    position: relative;
}

.alphabetic-key span{
    position: absolute;
    font-size: 20px;
    opacity: 0;
}

#space-key span, #backspace-key span{
    position: absolute;
    font-size: 15px;
}

#space-key img, #backspace-key img, .alphabetic-key img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

#timer {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}

#score {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  line-height: 63.3px;
  text-align: center;
  font-size: 20px;
}
