@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232323;
}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  width: 380px;
  height: 420px;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 420px;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  color: #45f3ff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  margin: 10px 0;
  font-size: 0.85em;
  color: #8f8f8f;
  text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
  color: #45f3ff;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
 
.buttons input[type="submit"] {
  border: none;
  outline: none;
  background: #45f3ff;
  padding: 11px 25px;
  width: 120px;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.buttons input[type="submit"]:active {
  opacity: 0.8;
}

.buttons button {
  border: none;
  outline: none;
  background: #33d0db;
  padding: 11px 25px;
  width: 120px;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  color: #8f8f8f;
}

.buttons button:hover {
  background: #45f3ff;
}

.buttons button > a {
  text-decoration: none;
  font-weight: 600;
  color: #1b1b1b;
}

.alert:nth-child(1) {
  padding: 0.1em;
  background: #889c9c;
  text-align: center;
  border-radius: 4px;
}

